{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
{% include 'global/parcials/head.html' %}
<title>{% block title %} {% endblock  %} Recipes</title>
</head>

<body>
    {% include 'global/parcials/header.html' %}
    {% include 'global/parcials/search.html' %}

    <main class="main-content-container">
        {% block content %}{% endblock content %}
    </main>

    {% include 'global/parcials/footer.html' %}

    <script src="{% static 'global/js/scripts.js' %}"></script>
</body>

</html>