{% extends 'global/base.html' %}

{% block title %}Área logada ({{ user }}) | {% endblock title %}

{% block content %}

    {% include 'global/parcials/message.html' %}

    <div class="main-content container">
        <div class="center">
            <h2>Painel do usuário ({{ user }})</h2>
            {% include 'authors/parcials/login_message.html' %}
        </div>
    
        <div class="authors-dashboard-container">
            <h3>Your recipes</h3>
            <ul>
              {% for recipe in recipes %}
                <li>
                  <a href="#">{{ recipe.title }}</a>
                </li>
              {% empty %}
                <li>
                  <p>Você não receitas cadastradas, crie uma agora mesmo!.</p>
                </li>
              {% endfor %}
            </ul>
        </div>

    </div>
 
{% endblock content %}


